#panel {
    height: 250px;
    width: null;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 2px solid #000000;
    background-color: white;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: all .2s ease-out;
}
.open {
    width: 250px;
}
.hero {
width: 100%;
height: auto;
max-height: 166px;
display: block;