html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    flex-basis: 0;
    flex-grow: 4;
    height: 100%;
    position: relative;
    z-index: 0;
}
#a_tag {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}
#jButton {
    position: absolute;
    top: 10px;
    left: 60px;
    z-index: 1;
}
#sButton {
    position: absolute;
    top: 10px;
    left: 170px;
    z-index: 1;
}

.open {
    width: 400px;
}
.hero {
    width: 100%;
    height: auto;
    max-height: 166px;
    display: block;
}

#sidebar {
    border: 2px solid #000000;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 30rem;
    height: 100%;
    overflow: auto;
}