<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <a href="/gomap/register">登録へ</a>
    <title>ゴーアウトマップ-一覧画面</title>
    <!-- CSS読込 -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:href="@{/css/list.css}" rel="stylesheet">
    <!-- JS読込 -->
    <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
    <script th:src="@{/js/list.js}"></script>
</head>

<body>
<div class="list_form">
    <h2>お出かけ先一覧</h2>

    <table class="table table-striped" id="listform">
        <thead>
        <tr>
            <th class="hidden">ID</th>
            <th>都道府県</th>
            <th>市区町村</th>
            <th>ジャンル</th>
            <th>移動手段</th>
            <th>マップ</th>
            <th>更新</th>
            <th>削除</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="gomap : ${gomapList}">
            <td th:text="${gomap.golist_id}" class="hidden" ></td>
            <td th:text="${gomap.pref}"></td>
            <td th:text="${gomap.city}"></td>
            <td th:text="${gomap.genre}"></td>
            <td th:text="${gomap.move_means}"></td>
            <td>
                <form th:action="@{/gomap/map/{gomap.golist_id}}">
                    <button type="submit" class="btn btn-success">マップへ</button>
                    <input type="hidden" name="golist_id" th:value="${gomap.golist_id}" />
                </form>
            </td>
            <td>
                <button id="update_bu" onclick="copyToDialog(this.parentElement.parentElement);" data-bs-toggle="modal" data-bs-target="#updatedialog" class="btn btn-primary">更新する</button>
            </td>
            <td>
                <form th:action="@{/gomap/delete}">
                    <button type="submit" class="btn btn-secondary">削除する</button>
                    <input type="hidden" name="golist_id" th:value="${gomap.golist_id}" />
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="updatedialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/gomap/update}" method="post">
                <div class="modal-header">
                    <h2>項目を更新します</h2>
                </div>

                <div class="modal-body">
                    <input name="golist_id" id="golist_id" type="hidden"/>
                    <label>都道府県</label>
                    <select name="pref" id="pref"></select>
                    <br>
                    <label>市区町村</label>
                    <select name="city" id="city"></select>
                    <br>
                    <label>ジャンル</label>
                    <select name="genre" id="genre"></select>
                    <br>
                    <label>移動手段</label>
                    <select name="move_means" id="move_means">
                        <option value="車">車</option>
                        <option value="徒歩">徒歩</option>
                    </select>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="">更新</button>
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>