<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <a id="a_tag" href="/gomap/list">一覧へ</a>
    <button id="jButton" data-bs-toggle="modal" data-bs-target="#map_list" class="btn btn-info">マップの情報</button>
    <button id="sButton" data-bs-toggle="modal" data-bs-target="#sModal" class="btn btn-info">場所の詳細</button>
    <title>ゴーアウトマップ-マップ画面</title>
    <!-- CSS読込 -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:href="@{/css//map.css}" rel="stylesheet">
    <!-- JS読込 -->
    <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbg39Llk-5ODPu6_oblgm05ieOtom0RJc&libraries=places&callback=initMap"></script>
    <script th:src="@{/js/map.js}"></script>
</head>

<body>
<!--ルート-->
<div id="sidebar"></div>
<!--地図-->
<div id="map"></div>

<!--マップの情報のモーダルウィンドウ-->
<div class="modal fade" id="sModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>場所の詳細</h2>
            </div>
            <div class="modal-body" id="panel">

            </div>
        </div>
    </div>
</div>

<!--マップの情報のモーダルウィンドウ-->
<div class="modal fade" id="map_list" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>マップの情報</h2>
            </div>
            <div class="modal-body">
                <table id="go">
                    <tbody th:each="gomap : ${gomapList}">
                    <tr><th class="hidden">golist_ID</th>   <td th:text="${gomap.golist_id}" class="hidden" ></td></tr>
                    <tr><th>都道府県</th>   <td th:text="${gomap.pref}"></td></tr>
                    <tr><th>市区町村</th>   <td th:text="${gomap.city}"></td></tr>
                    <tr><th>ジャンル</th>   <td th:text="${gomap.genre}" ></td></tr>
                    <tr><th>移動手段</th>   <td th:text="${gomap.move_means}"></td></tr>
                    </tbody>
                </table>
                <hr>
                <table id="home">
                    <tbody th:each="my_home : ${my_home_List}">
                    <tr><th>myhome_ID</th>  <td th:text="${my_home.my_home_id}"></td></tr>
                    <tr id="coordinate"><th>座標</th> <td th:text="${my_home.coordinate}" th:value="${my_home.coordinate}"></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<button id="routeButton" class="btn btn-primary" >詳細経路</button>
</body>
</html>